body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    flex-direction: column;
    display: flex;
}  

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Przesunięcie stopki na dół */
    width: 100%;
}

.right {
    text-align: right;
}

.right a {
    text-decoration: none;
    color: #3498db;
    border: 2px solid #3498db;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
}

.right a:hover {
    background-color: #3498db;
    color: #fff;
}

img {
    width: 10%;
    height: auto;
    margin-right: 100px;
    display: flex;
}

.mid {
    border: 2px solid #3498db;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin: 0; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding-left: 1.5em;
    position: relative;
}

li:before {
    content: "•";
    color: #3498db; 
    font-size: 1.5em;
    position: absolute;
    left: 0;
}

.mid a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 8px;
}

.mid a:hover {
    text-decoration: none; 
    background-color: #3498db;
    color: #000;
}

@media only screen and (max-width: 600px) {
   
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
   
}

@media only screen and (min-width: 1025px) {
   
}
